.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.file{
  max-width: 245px;
  margin-right: 2vw;
}
@media screen and (min-width: 1130px){
  .auth{
    width: 35%;
    padding: 25px;
    background-color: lightgrey;
    border-radius: 25px;
  }
  .txt_file{
    width: 60vw;
    height: 100vh;
    background-color: white;
    margin: auto;
  }
}
@media screen and (max-width: 1130px) and (min-width: 851px){
  .auth{
    width: 45%;
    padding: 25px;
    background-color: lightgrey;
    border-radius: 25px;
  }
  .txt_file{
    width: 60vw;
    height: 100vh;
    background-color: white;
    margin: auto;
  }
}
@media screen and (max-width: 850px) and (min-width: 651px){
  .auth{
    width: 60%;
    padding: 25px;
    background-color: lightgrey;
    border-radius: 25px;
  }
  .txt_file{
    width: 60vw;
    height: 100vh;
    background-color: white;
    margin: auto;
  }
}
@media screen and (max-width: 650px) and (min-width: 125px){
  .auth{
    width: 80%;
    padding: 25px;
    background-color: lightgrey;
    border-radius: 25px;
  }
  .txt_file{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
  }
  .list_file{
    width: 100% !important;
  }
}
.list_file{
  width: 60%;
}
.inp{
  border-radius: 10px;
  width: 90%;
  height: 40px ;
  margin: 10px;
}
.modal-footer{
  justify-content: center !important;
}
.btn_1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
